.section-portfolio {
    .grid {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 1fr;
    }

    .project {
        position: relative;
        opacity: .6;
        transition-duration: 1s;

        &:hover {
            opacity: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-title {
            position: absolute;
            bottom: 10px;
            left: 15px;

            a {
                color: #fff !important;
            }
        }
    }

    .section-title {
        text-align: center;
    }
}
