.section-text-image {
    padding: 0 !important;

    // &:nth-child(even) {
    //     .row {
    //         flex-direction: row-reverse;
    //     }
    // }

    .section-title {
        position: static;
        text-align: center;
        width: inherit;

        @include breakpoint(tablet) {
            display: block;
            width: 50%;
            text-align: right;
            float: right;
        }
    }

    .section-text {
        padding: 0 !important;

        div:not(.text) {
            padding: 30px 45px;
        }

        .text {
            text-align: justify;

            @include breakpoint(tablet) {
                text-align: left;
            }
        }

        .btn {
            display: block;
            margin: 0 auto;

            @include breakpoint(tablet) {
                display: inherit;
                margin: inherit;
            }
        }
    }

    .section-image {
        img {
            max-width: 100%;
            width: 100%;
        }
    }
}


.decors-layer10{
    height: 700px;
    left:-5rem;
    top: 4rem;
    position: absolute;
    width: 500px;
}

.decors-layer30 {
    width: 100px;
    height: 100px;
    top: 12rem;
    right: 9rem;
}
.decors-layer4 {
    background-image: url(./assets/images/Etoiles.png);
    width: 100%;
    height: 5369px;;
}