.section-header {
    &-logo {
        // max-width: 500px;
        // height: 160px;
        display: block;
        // margin: 0 auto;
        margin: 0;
        width: 100%;
    }

    &-description {
        text-align: center;
        opacity: 0.5;
        font-weight: 300;
        margin-bottom: 3rem;

        @include heading-size(3);
    }

    .home-info{
        text-align: center;
    }
}
