.section-header {
    &-logo {
        display: block;
        margin: 0;
        width: 100%;
    }
    
    @media screen and (max-width: 530px) {
        min-height: 800px!important;
    }

    &-description {
        text-align: center;
        opacity: 0.5;
        font-weight: 300;
        margin-bottom: 3rem;

        @include heading-size(3);
    }

    .home-info{
        text-align: center;
        z-index: 99;
    }
}
.logo-menu{
    display: none;
}
.navbar-scroll .logo-menu{
    display: block;
}

.decors-layer1 {
    width: 350px;
    left:-3rem;
    top: -3rem;
    height: 800px;
}
.decors-layer2 {
    right: -3rem;
    bottom: 0;
    width: 250px;
    height: 250px;
    position: absolute;
}
.decors-layer3 {
    width: 100px;
    height: 100px;
    top: 12rem;
    right: 9rem;
}
.decors-layer4 {
    width: 100%;
    height:110vh;
}
.decors-layer5 {
    width: 100%;
    height: 110vh;
}


