main#sections section.section-services {
    .service-list-tab {
        .nav-link {
            background-color: $color-purple;
            height: 100%;

            &:hover,
            &.active {
                background-color: $color-purple-lighter;
                transform: scale(1.09);
            }

            .service-icon {
                color: #fff;
                opacity: .5;
                display: block;
                text-align: center;
                font-size: 3rem;
            }

            .service-title {
                text-align: center;
                color: #fff;
                opacity: .5;
            }
        }
    }
}
