main#sections section.section-services {
    .service-list {
        margin-bottom: 4rem;

        @include breakpoint(tablet) {
            margin-bottom: inherit;
        }


        .service-list-tab {
            height: 180px;

            @include breakpoint(tablet) {
                height: 150px;
            }


            @include breakpoint(desktop) {
                height: 270px;
            }


            .nav-link {
                background-color: $color-purple;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 2rem;
                box-shadow: 0 6px 23px rgba(0,0,0,.32);

                &:hover,
                &.active {
                    background-color: $color-purple-lighter;
                    box-shadow: inherit;
                    transform: scale(1.09);
                    cursor: pointer;

                    .service-icon {
                        opacity: .75;
                    }
                }

                .service-icon {
                    opacity: .5;
                    // height: 95px;
                    width: 100%;
                }

                .service-title {
                    margin-top: auto;
                    text-align: center;
                    color: #fff;
                    opacity: .5;
                }
            }
        }
    }

    .section-title {
        margin-bottom: 2rem;
        width: 100%;
        text-align: center;

        @include breakpoint(tablet) {
            margin-top: -8rem;
            margin-bottom: 2rem;
            display: block;
            width: 25%;
            text-align: left;
        }
    }

    .slogan_services{
      margin-top: 5rem!important;
      text-transform: none;
      letter-spacing: 1px;
      margin-bottom: 1rem;
      font-weight: 400;
    }

    .service-text {
        margin-bottom: 2rem;

        @include breakpoint(mobile) {
            margin-bottom: 4rem;
            text-align: justify;
        }
    }

    .cta {
        display: block;
        margin: 0 auto;

        @include breakpoint(tablet) {
            display: inline-block;
            margin: initial;
        }
    }
}
@media screen and (max-width: 800px){
    .section-text,.services_info{
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; 
    }
}

.decors-layer100{
    right:-2.5rem;
    top: 5rem;
    position: absolute;
    width: 500px;
    height: 800px;
}
.decors-layer4 {
    // background-image: url(./assets/images/Etoiles.png);
    width: 100%;
    
}