.section-contact {
    .form-control {
        @media screen and (max-width: 530px) {
            font-size: 1.4rem;
        }
    }

    .contact-form {
        width: 40%;
        margin: 0 auto;

        @include mobile {
            width: 90%;
        }


        .section-title {
            text-align: center;
            margin-bottom: 3rem;
        }

        label {
            width: 100%;
        }

        input:not(.wpcf7-submit), textarea {
            background-color: rgba(255, 255, 255, 0.2);
            border: none;
            color: #fff;
            font-family: 'San Francisco', sans-serif;
            font-weight: 300;

            &::-webkit-input-placeholder {
                color: #fff;
            }

            &:-ms-input-placeholder {
                color: #fff;
            }

            &::-ms-input-placeholder {
                color: #fff;
            }

            &::placeholder {
                color: #fff;
            }

            &:focus {
                -webkit-box-shadow: inherit;
                box-shadow: inherit;
            }
        }

        input.wpcf7-submit {
            border-color: #fff;
            background-color: transparent;

            &:hover {
                background-color: #fff !important;
                color: $color-purple;
                border-color: #fff !important;
            }
        }
    }

    .devis-gratuit {
        h2 {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }
}
