.section-portfolio {
    .grid {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 1fr;
    }

    .project {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .6;
            transition-duration: 1s;

            &:hover {
                opacity: 1;
            }
        }

        &-title {
            position: absolute;
            bottom: 10px;
            left: 15px;

            a {
                color: #fff !important;
            }
        }
    }

    .section-title {
        text-align: center;
    }

    .slogan-portfolio {
        font-weight: 400 !important;
        margin-bottom: 2rem;
        text-align: center;
        letter-spacing: inherit;
        text-transform: none;
        font-size: 19px;
    }
}

.single-portfolio {
    background: url(./assets/images/Etoiles.png), $color-gradient;
    background-repeat: no-repeat;
}

.page-projet {
    min-height: 100vh;
}

.container-projet {
    display: flex;
    max-width: 90%;
    margin: auto;
    background-color: #fff;
    height: 80vh;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    left: 0;
    border-radius: 5px;
    overflow: hidden;
}

.part_slider, .info_projet {
    width: 50%;
}

.info_projet {
    padding: 50px;
}

.part_slider {
    overflow: hidden;
}

.carousel, .carousel-inner, .carousel-inner .item {
    height: 100%;
}

.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#carousel-indicators-projets {
    padding: 0;
}

.carousel-inner-projet {
    width: 100% !important;
}

.img-basic {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.title-projet {
    color: $color-purple !important;
}

.title-line {
    background-color: $color-purple;
    width: 65px;
    height: 3px;
    margin-bottom: 1.5rem;
}

.info_projet p {
    color: #757575;
    letter-spacing: 0;
}

.block-mission h3 {
    font-size: 22px;
    color: #424242;
}

.block-mission {
    margin-top: 3rem;
}
.block-file-ariane {
    color: #757575;
    font-size: 13px;
    p{
     display: inline-block;
     margin-bottom: 25px;
    }
}




@media screen and (max-width: 1000px) {
    .container-projet {
        max-width: 70%;
        height: inherit;
        transform: inherit;
        top: inherit;
        display: inherit;
        margin-top: 8rem;
        margin-bottom: 5rem;
        position: relative;
    }

    .part_slider, .info_projet {
        width: 100%;
    }

    .single-portfolio {
        background-color: $color-purple;
    }

    .page-projet {
        min-height: inherit;
        background: inherit;
    }
}

@media screen and (max-width: 800px) {
    .container-projet {
        max-width: 95%;
    }

    #carousel-indicators-projets {
        padding: 0 !important;
    }
}
