/**
 * Atoms
 *
 * These are the smallest building blocks of your project.
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       undefined 0.1.0.0
 *
 */

 /*=======================================================
Table of Contents:
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 Buttons
  2.0 Checkboxes
  3.0 Radio Buttons
  4.0 Inputs
  5.0 Selects
=======================================================*/

/*==================================================================================
  1.0 Buttons
==================================================================================*/
button, .btn {
    width: 295px;
    height: 40px;
    text-transform: uppercase;
    border-radius: 10px;
    line-height: 28.85px;
}

/*==================================================================================
  2.0 Checkboxes
==================================================================================*/
/*==================================================================================
  3.0 Radio Buttons
==================================================================================*/
/*==================================================================================
  4.0 Inputs
==================================================================================*/
/*==================================================================================
  5.0 Selects
==================================================================================*/
