/**
 * Base CSS File
 * Contains defaults and presets of general elements.
 *
 * The Idea is to keep editing in this file to a
 * minimum while using vars.scss for very basic styling.
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       undefined 0.1.0.0
 *
 */

/*==================================================================================
  GENERAL
==================================================================================*/
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    -webkit-tap-highlight-color: transparent;
}

html {
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: $base_size_mobile; // only used for rem-handling, the actual font-size is $body__fontsize
    @include vpw_min($scaling_endpoint) {
        font-size: $scaling_endpoint / 100 * stripunit($base_size);
    }


    @include breakpoint(tablet) {
        font-size: $base_size;
    }


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    // used as wrapper for sticky footer
    font-family: $html__fontname;
    letter-spacing: 1.7px;
    font-size: $body__fontsize;
    font-weight: $body__fontweight;
    line-height: $body__lineheight;
    color: $html__textcolor;
    margin: 0;

    @include mobile {
        font-size: $body__fontsize_mobile;
    }
}

a {
    color: $a__linkcolor;
    -webkit-text-decoration: $a__textdecoration;
    text-decoration: $a__textdecoration;
    -webkit-transition: $transition_fast;
    transition: $transition_fast;

    &:hover {
        color: $a__hovercolor;
        text-decoration: $a__textdecoration;
    }
}

header {
    margin-top: $header_height;
}

:focus {
    outline: 0;
}

/*=============================================
=            HEADINGS                         =
=============================================*/
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'TourneyBlack';
}

h1 {
    @include heading-size(6);
    @include mobile {
        @include heading-size(4);
    }
}

h2 {
    @include heading-size(5);
    @include mobile {
        @include heading-size(3);
    }
}

h3 {
    @include heading-size(4);
    @include mobile {
        @include heading-size(2);
    }
}

h4 {
    @include heading-size(3);
    @include mobile {
        @include heading-size(2);
    }
}

h5 {
    @include heading-size(2);
}

h6 {
    @include heading-size(1);
}

/*=====  End of HEADINGS               ======*/

address {
    font-style: normal;
}

table {
    border-collapse: collapse;
}

/*==================================================================================
  PRESETS
==================================================================================*/

// defaut wowjs div
.wow {
    visibility: hidden;
}

// anchor div to fix .top overlap when navigation through 'domain.tld/#anchor'
.anchor {
    display: block;
    height: $header_height;
    margin-top: -$header_height; // negative top_height
}

p {
    letter-spacing: 1px !important;
}

.home {
    background-image: url("assets/images/Background-w.png");
    background-repeat: repeat;

    .navbar {
        display: none;
    }

    .hero {
        height: 80vh;
        background-image: url("assets/images/Background.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
        padding-top: 20vh;

        img {
            width: 400px;
            margin: 0 auto;
        }
    }

    .contact {
        background-color: #fff;
        border-radius: 5px;
        padding: 30px;
        max-width: 800px;
        margin: 0 auto;
        transform: translateY(-30%);
    }

    .content {
        .block {
            margin-bottom: 3rem;
        }

        p {
            line-height: 37px;
        }

        img {
            margin: 0 auto 100px;
            display: block;
            max-width: 400px;
        }
    }
}
