/**
 * Molecules
 *
 * Group of UI elements, or atoms, working together.
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       undefined 0.1.0.0
 *
 */

 /*=======================================================
Table of Contents:
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 Cards
  2.0 Forms
  3.0 Modals
  4.0 Nav
=======================================================*/

/*==================================================================================
  1.0 Cards
==================================================================================*/
/*==================================================================================
  2.0 Forms
==================================================================================*/
/*==================================================================================
  3.0 Modals
==================================================================================*/
/*==================================================================================
  4.0 Nav
==================================================================================*/
nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100vw;
    height: $header_height;
    background-color: transparent;

    .logo  {
        width: 12rem;
        height: 3rem;
        margin-right: 2rem;

        // background-image: url("assets/images/logo.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .navbar-collapse.show {
        background-color: $color-primary;
        width: 100vw;
        width: 100%;
        position: absolute;
        left: 0;
        top: $header_height;
        padding: 15px;

        a {
            color: #fff;
        }
    }
}
